/* GENERAL */
body, html {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans';
  font-size: 16px;
  color: #333;
  background: #fff;
}

p {
    color: #333;
}

a {
    color: #ff6e00;
    text-decoration: none;
}

a:hover {
    color:#e66300;
}

nav ul {
  list-style: none;
  padding-left: 0;
}

/* LAYOUT */
.wrapper {
  min-height: 100%;
  max-width: 1274px;
  min-width: 800px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 auto;
}

.wrapper > div {
  display: none;
}

.wrapper > div.current {
  display: block;
}

.content {
  width: 65%;
  max-width: 650px;
  margin: 20px auto;

}

/* NAV */
nav.global {
  background-color: #e8e8e8;
  width: 100%;
  overflow: auto;
}

nav.global ul {
  margin: 0 2em 0 0;
  float: right;
  overflow: auto;
}

nav.global li {
  display: inline-block;
  float: left;
  padding: .4em .5em;
}

nav.global li:hover,
nav.global li.active {
  background-color: #f5f5f5;
}

nav.global a.current {
  font-weight: bold;
}

/* TWEET STREAM */
form.trial {
  width: 100%;
  margin-top: 2em;
}

form.trial input[type='text'] {
  width: 60%;
}

.widget-id li:hover {
  cursor: pointer;
  color: #ff6e00;
}

/* CONTENT */
h1 {
    margin: 1em 0;
}

h1, h2, p {
    color: #333;
}


.content p, .content li {
    line-height: 1.5em;
}

.code {
    width: 900px;
    margin: 0 auto;
}

.about, .config {
    width: 600px;
    margin: 0 auto;
}

/* CONFIG FORM */
.slideshow form {
  width: 600px;
}

.slideshow form label {
  font-weight: bold;
  margin: 15px 0 6px 0;
}

.slideshow form label,
.slideshow form input {
  display: block;
  width: 100%;
}

.slideshow form.new-slide {
  margin: 10px auto;
  overflow: auto;
}

.save-slide {
    float: right;
    margin-top: 15px;
}

.actions {
    width: 700px;
    text-align: right;
    margin: 20px auto 0 auto;
}

.error {
    color: red;
}

.error span {
    display: none;
}

.success {
    color: green;
    display: none;
}

/* SLIDE CONFIG OBJECT */
.slide-config {
    list-style-type: none;
}

pre {
    font-family: 'Monospace';
}

/* FOOTER */
footer {
  width: 100%;
  text-align: center;
}

footer p {
  display: inline-block;
  vertical-align: top;
  margin: 1em 0;
}
