/* GENERAL */
body, html {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Helvetica';
  font-size: 16px;
  color: #333;
  background: #fff;
}

p {
    color: #333;
}

a {
    color: #ff6e00;
    text-decoration: none;
}

a:hover {
    color:#e66300;
}

/* LAYOUT */
.wrapper {
  margin: 0 auto 40px auto;
  width: 100%;
  max-width: 1274px;
  min-width: 800px;
}

.content {
  width: 65%;
  max-width: 650px;
  margin: 20px auto;

}

/* Tweet stream */
form.trial {
  width: 100%;
  margin-top: 2em;
}

form.trial input[type='text'] {
  width: 60%;
}

.widget-id li:hover {
  cursor: pointer;
  color: #ff6e00;
}

/* CONTENT */
h1 {
    margin: 1em 0;
}

h1, h2, p {
    color: #333;
}


.content p, .content li {
    line-height: 1.5em;
}

.code {
    width: 900px;
    margin: 0 auto;
}

.about, .config {
    width: 600px;
    margin: 0 auto;
}

/* CONFIG FORM */
.carousel-anchor form {
  width: 600px;
}

.carousel-anchor form label {
  font-weight: bold;
  margin: 15px 0 6px 0;
}

.carousel-anchor form label,
.carousel-anchor form input {
  display: block;
  width: 100%;
}

.carousel-anchor form.new-slide {
  margin: 10px auto;
  overflow: auto;
}

.save-slide {
    float: right;
    margin-top: 15px;
}

.actions {
    width: 700px;
    text-align: right;
    margin: 20px auto 0 auto;
}

.error {
    color: red;
}

.error span {
    display: none;
}

.success {
    color: green;
    display: none;
}

/* SLIDE CONFIG OBJECT */
.slide-config {
    list-style-type: none;
}

pre {
    font-family: 'Monospace';
}

footer {
    text-align: center;
    height: 40px;
}

footer p {
    display: inline-block;
    vertical-align: top;
}
