.splash {
  min-height: 100%;
  width: 100%;
  margin: 0;
  overflow: auto;
  background-color: #000;
  background: url('../images/background.jpg');
  background-size: cover;
}

.splash nav {
  width: 800px;
  margin: 20% auto;
  display: block;
  text-align: center;
}

.splash footer {
  position: absolute;
  bottom: 0;
}

.splash footer p {
  color: #fff;
  text-align: center;
}

.splash nav {
  font-family: 'Open Sans';
  font-size: 1.5em;
}

.splash nav li {
  margin: 0 1em 0 0;
  display: inline-block;
}

.splash nav a {
  width: 100%;
  display: block;
  padding: 6px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 4px;
  font-weight: bold;
}

.splash nav a:hover {
  background-color: #fff;
  color: #000;
}
