body * {
	font-family: Helvetica, Arial;
}

.container {
	width: 600px;
	margin: 50px auto;
}

p {
    color: #333;
}

a {
    color: #ff6e00;
    text-decoration: none;
}

a:hover {
    color:#e66300;
}

form.trial {
	width: 100%;
	margin-top: 2em;
}

form.trial input[type='text'] {
	width: 60%;
}

form.trial, #refresh {

}

.about {
	margin-top: 3em;
	border-top: 1px dashed #555;
}

